<div class="w-full">
  <div id="tawi_showcase" class="flex justify-center">
    <%= image_tag 'logo.png' %>
  </div>

  <div class="lg:grid lg:grid-cols-2 justify-between p-2 cta sm:flex sm:flex-col" >

    <div class="flex flex-col justify-center">
      <h1 class="text-7xl text-center font-bold m-1"> All your links in one place </h1>
      <span class="font-bold m-1 text-2xl text-center text-gray-200"> Share with the world what you create </span>
    </div>

    <div class="flex justify-center" >
      <%= image_tag 'show_art.png' %>
    </div>
  </div>

  <div class="lg:grid lg:grid-cols-2 justify-between p-2 cta sm:flex sm:flex-col" >

    <div class="flex justify-center" >
      <%= image_tag 'dj.gif' %>
    </div>

    <div class="flex flex-col justify-center">
      <span class="font-bold m-1 text-2xl text-center text-gray-200"> Show the world who you truly are </span>
      <h1 class="text-7xl m-1 text-center"> Create & Share your bio links in minutes </h1>
    </div>

  </div>

  <div class="flex flex-col items-center justify-center mb-10">
    <span class="text-2xl bg-[#4C4269] py-2 px-5 m-2 rounded-full text-white font-bold"><%= link_to 'Get Started', new_user_registration_path %></span>
    <span class="text-white text-lg"> <%= link_to 'Sign in', new_user_session_path, class: "underline" %> instead </span>
  </div>
</div>
